[Unit]
Description=Starts KVM instances from wake on lan packets

[Service]
ExecStartPre=cd /usr/share/libvirt-wakeonlan
ExecStart=./libvirtwol.py $LIBVIRTDWOL_INTERFACE
Type=simple

